Projects/ASP.NET/Mo_Xue_Lab_4/Mo_Xue_Lab_4_Client/Service References/TechSupportServiceReference/TechSupportService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2318/TechSupportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mo_Xue_Lab_4" />
  <xs:element name="GetAllTechnicians">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTechniciansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mo_Xue_Lab_4" minOccurs="0" name="GetAllTechniciansResult" nillable="true" type="q1:ArrayOfTechnician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenTechIncidents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="techID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenTechIncidentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mo_Xue_Lab_4" minOccurs="0" name="GetOpenTechIncidentsResult" nillable="true" type="q2:ArrayOfIncident" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Mo_Xue_Lab_4" minOccurs="0" name="GetAllCustomersResult" nillable="true" type="q3:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidentsByCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidentsByCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Mo_Xue_Lab_4" minOccurs="0" name="GetIncidentsByCustomerResult" nillable="true" type="q4:ArrayOfIncident" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>