Projects/ASP.NET/Mo_Xue_Lab_4/Mo_Xue_Lab_4_Client/Service References/TechSupportServiceReference/TechSupportService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mo_Xue_Lab_4" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mo_Xue_Lab_4" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTechnician">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Technician" nillable="true" type="tns:Technician" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTechnician" nillable="true" type="tns:ArrayOfTechnician" />
  <xs:complexType name="Technician">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TechID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Technician" nillable="true" type="tns:Technician" />
  <xs:complexType name="ArrayOfIncident">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Incident" nillable="true" type="tns:Incident" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIncident" nillable="true" type="tns:ArrayOfIncident" />
  <xs:complexType name="Incident">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateClosed" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TechID" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncidentID" type="xs:int" />
      <xs:element minOccurs="0" name="DateOpened" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Incident" nillable="true" type="tns:Incident" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
</xs:schema>