Projects/ASP.NET/Mo_Xue_Lab_4/Mo_Xue_Lab_4_Client/Service References/TechSupportServiceReference/TechSupportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TechSupportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2318/TechSupportService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2318/TechSupportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2318/TechSupportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mo_Xue_Lab_4" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITechSupportService_GetAllTechnicians_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTechnicians" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService_GetAllTechnicians_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTechniciansResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService_GetOpenTechIncidents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOpenTechIncidents" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService_GetOpenTechIncidents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOpenTechIncidentsResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService_GetAllCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomers" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService_GetAllCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService_GetIncidentsByCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIncidentsByCustomer" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService_GetIncidentsByCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIncidentsByCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="ITechSupportService">
    <wsdl:operation name="GetAllTechnicians">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportService/GetAllTechnicians" message="tns:ITechSupportService_GetAllTechnicians_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportService/GetAllTechniciansResponse" message="tns:ITechSupportService_GetAllTechnicians_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOpenTechIncidents">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportService/GetOpenTechIncidents" message="tns:ITechSupportService_GetOpenTechIncidents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportService/GetOpenTechIncidentsResponse" message="tns:ITechSupportService_GetOpenTechIncidents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportService/GetAllCustomers" message="tns:ITechSupportService_GetAllCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportService/GetAllCustomersResponse" message="tns:ITechSupportService_GetAllCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIncidentsByCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportService/GetIncidentsByCustomer" message="tns:ITechSupportService_GetIncidentsByCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportService/GetIncidentsByCustomerResponse" message="tns:ITechSupportService_GetIncidentsByCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITechSupportService" type="tns:ITechSupportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllTechnicians">
      <soap:operation soapAction="http://tempuri.org/ITechSupportService/GetAllTechnicians" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpenTechIncidents">
      <soap:operation soapAction="http://tempuri.org/ITechSupportService/GetOpenTechIncidents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <soap:operation soapAction="http://tempuri.org/ITechSupportService/GetAllCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncidentsByCustomer">
      <soap:operation soapAction="http://tempuri.org/ITechSupportService/GetIncidentsByCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TechSupportService">
    <wsdl:port name="BasicHttpBinding_ITechSupportService" binding="tns:BasicHttpBinding_ITechSupportService">
      <soap:address location="http://localhost:2318/TechSupportService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>